@charset "UTF-8";
 *{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
background-image: linear-gradient(#057e99,#0bcbe0);
}
main{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #27323588;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    color: #F2668B;
    text-shadow: 1px 1px 2px #000000 ;
}
h2{
    color:#03A688 ;
}
p{
    color: #057e99;
    text-align: justify;
}